.layout{
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
}

.bloque{
    padding: 20px;
    border: solid 2px;
    text-align: center;
    flex: 1;
    background-color: lightgreen;
    margin: 5px;
}

.layout > :nth-child(3) {
    order: 3;
}

/* 2. Cabecera */
.layout > :nth-child(1) {
    order: 1;
}

/* 3. Pie de página */
.layout > :nth-child(5) {
    order: 5;
}

/* 4. Sección principal */
.layout > :nth-child(2) {
    order: 4;
}

/* 5. Sección secundaria */
.layout > :nth-child(4) {
    order: 2;
}