body {
    padding: 10rem;
}

.contenedor {
    border: 1px solid black;

    width: 100%;
    position: relative;
    padding: 1rem;


}


.ejercicio1 {
    display: flex;
    flex-direction: column;

    gap: 1rem;;


    .contenedor-hijo {
        display: flex;
        align-items: flex-start;
        gap: 1rem;


    }

}

.ejercicio2 {
    display: flex;
    gap: 1rem;
    align-items: flex-start;

    .contenedor-hijo {

        width: 50%;
        display: flex;
        flex-direction: column;

        gap: 1rem;

        >div {
            width: 40%;
        }
    }

}

.ejercicio3 {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: flex-start;

    .contenedor-hijo {

        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        gap: 1rem;

        >div {
            width: 40%;
        }
    }

}

.ejercicio4 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;

    .caja2 {
        align-self: flex-start;
    }

}

.ejercicio5 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;

    .contenedor-hijo {

        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        align-items: flex-start;

        gap: 1rem;

    }

}


.ejercicio6 {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;

    .caja1 {
        align-self: flex-end;

    }

    .caja2 {
        align-self: center;
    }

    .caja3 {
        align-self: flex-start;

    }

}

.caja1 {
    aspect-ratio: 9/6;
    width: 50%;

    background-color: lightblue;
    border: 2px solid gray;

}


.caja2 {
    background-color: lightgoldenrodyellow;
    width: 20%;

    aspect-ratio: 1/1;
}

.caja3 {
    background-color: lightcoral;
    border: 1px double black;
    width: 20%;

    aspect-ratio: 1/1;
}